# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: "actions/setup-python@v2"
        with:
          python-version: "3.6"

      # Run commands using the runners shell
      - name: clone and install njoy
        run: git clone https://github.com/njoy/NJOY2016.git && (cd NJOY2016 && mkdir build && cd build && cmake -DPython3_EXECUTABLE=$(which python3) .. && make)
      - name: remove njoy tests from unit testing
        run: rm -rf NJOY2016/tests
      - name: install general python dependencies
        run: pip install sphinx sphinx_rtd_theme codecov numpydoc coveralls pytest-cov nbval
      - name: install sandy's requirements
        run: pip install -r requirements.txt
      - name: install sandy
        run: python setup.py install --user
      - name: pytest
        run: pytest --cov=sandy sandy
      - name: coveralls
        run: coveralls
      - name: make docs
        run: bash make_docs.sh html
